@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.616), rgba(0, 0, 0, 0.637)), url('Imagery/marbletextures.jpg');
    font-family: 'Nunito', sans-serif;
}


.videobg {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*background: #333;*/
    background:rgba(0,0,0,0.6);
    color: white;
    /*margin-bottom: 100px;*/
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.video-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.videobg td {
    padding:20px;
}

.videobg th {
    padding-left: 1em;
    padding-right: 1em;
}

.videobg a {
    text-decoration: none;
    font-size: 18px;
    color:aliceblue;
    background: rgba(0,0,0,0.1);
    border: 1px solid aliceblue;
    border-radius: 20px;
    padding: 10px;
    transition: padding 500ms, border-radius 500ms, background 500ms;
}

.videobg a:hover {
    padding: 15px;
    border-radius: 25px;
    background: rgba(0,0,0,0.25)
}

#overview {
    text-align: center;
}

.rounded-end {
    border-radius: 5em;
}

.rounded-start {
    border-radius: 5em;
}