@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.616), rgba(0, 0, 0, 0.637)), url('Imagery/marbletextures.jpg');
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
}


.videobg {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*background: #333;*/
    background:rgba(0,0,0,0.6);
    color: white;
    /*margin-bottom: 100px;*/
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.video-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.videobg td {
    padding:20px;
}

.videobg th {
    padding-left: 1em;
    padding-right: 1em;
}

.videobg a {
    text-decoration: none;
    font-size: 18px;
    color:aliceblue;
    background: rgba(0,0,0,0.1);
    border: 1px solid aliceblue;
    border-radius: 20px;
    padding: 10px;
    transition: padding 500ms, border-radius 500ms, background 500ms;
}

.videobg a:hover {
    padding: 15px;
    border-radius: 25px;
    background: rgba(0,0,0,0.25)
}

#overview {
    text-align: center;
}

.rounded-end, .rounded-start {
    border-radius: 5em;
}

.rounded {
    border-radius: 5em !important;
}

.card-text {
    margin-top: 5%;
    font-size: 1.25em;
}

.fade-in {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.from-left {
    transform: translateX(-10%);
}

.from-right {
    transform: translateX(10%);
}

.from-left, .from-right {
    
    transition: opacity 250ms ease-in, transform 250ms ease-in;
    opacity:0;
}

.from-left.appear, .from-right.appear {
    transform: translateX(0);
    opacity: 1;
}

.card {
    background: rgba(202, 202, 202, 0.45);
    width: 90%;
}

#About {
    text-align: center;
}


#About h6 {
    color: rgb(45, 45, 45);
}

.Absolute-Center {

    display: flex; /* make us of Flexbox*/
  
    align-items: center; /* does vertically center the desired content*/
  
    justify-content: center; /* horizontally centers single line items*/
  
    text-align: center; /*optional, but helps horizontally center text that breaks into multiple lines */
  
  } 