@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.616), rgba(0, 0, 0, 0.637)), url('Imagery/marbletextures.jpg');
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
}


.videobg {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*background: #333;*/
    background: rgba(0, 0, 0, 0.6);
    color: white;
    /*margin-bottom: 100px;*/
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.video-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.videobg td {
    padding: 20px;
}

.videobg th {
    padding-left: 1em;
    padding-right: 1em;
}

.videobg a {
    text-decoration: none;
    font-size: 18px;
    color: aliceblue;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid aliceblue;
    border-radius: 20px;
    padding: 10px;
    transition: padding 500ms, border-radius 500ms, background 500ms;
}

.videobg a:hover {
    padding: 15px;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.25)
}

#overview {
    text-align: center;
}

.rounded-end,
.rounded-start {
    border-radius: 5em;
}

.rounded {
    border-radius: 5em !important;
}

.card-text {
    margin-top: 5%;
    font-size: 1.25em;
}

.fade-in {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.from-left {
    transform: translateX(-10%);
}

.from-right {
    transform: translateX(10%);
}

.from-left,
.from-right {

    transition: opacity 250ms ease-in, transform 600ms cubic-bezier(.175, .885, .32, 1.275);
    opacity: 0;
    will-change: transform;
}

.from-left.appear,
.from-right.appear {
    transform: translateX(0);
    opacity: 1;
}

.card {
    background: rgba(202, 202, 202, 0.45);
    width: 90%;
}

#About {
    text-align: center;
}


#About h6 {
    color: rgb(45, 45, 45);
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container ul {
    width: auto;
}

.causes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(248, 249, 250, 0.3);
    flex-direction: row;
    padding-top: 5%;
    min-height: 600px;
}

.container-causes {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
}

.container-causes .card-causes {
    position: relative;
    max-width: 300px;
    height: 215px;
    background-color: white;
    margin: 30px 10px;
    padding: 20px 15px;

    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
    border-radius: 15px;
}

.container-causes .card-causes li {
    text-align: left !important;
}

.container-causes .card-causes .card-text {
    margin-top: auto;
}

.container-causes .card-causes:hover {
    height: 320px;
}
.container-causes .card-causes .image-causes {
    position: relative;
    width: 260px;
    height: 260px;
    top: -48%;
    left: 2px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.container-causes .card-causes .image-causes img {
    max-width: 100%;
    border-radius: 15px;
    background-color: white;
}

.container-causes .card-causes .content-causes {
    position: relative;
    top: -140px;
    padding: 10px 15px;
    color: #111;
    text-align: center;

    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;

}

.container-causes .card-causes:hover .content-causes {
    margin-top: 30px;
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;

}